<ul> <h1> Lists</h1>
  <% @list.each do |list| %>
    <li> <%= link_to list.name, list_path(list) %>
      <%# <%= link_to "Delete", restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%> </li>

    <% end %>

        <%= link_to "New List", new_list_path, class: "btn btn-primary" %>

</ul>
