
<div class="navbar"> Lists</div>



<div class="cards">
  <% @list.each do |list| %>
    <div class="card">

      <%= link_to list.name, list_path(list) %>
      <%# <%= link_to "Delete", restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%> </li>
    </div>

      <% end %>
</div>



        <%= link_to "New List", new_list_path, class: "btn btn-primary" %>


<%= cl_image_tag("i16isd0o3svehvtqelqc",
      width: 400, height: 300, crop: :fill) %>
<%# https://res.cloudinary.com/dfi8ju7lr/image/upload/v1677245862/i16isd0o3svehvtqelqc.jpg %>
